html {
  margin: 0px;
  height: 100vh;
}

body, #map {
  margin: 0px;
  height: 100%;
}

img.picture {
  max-height: 40vh;
  max-width: 40vw;
}

div.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}